<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
  <span>Welcome</span>
</div>

<div *ngFor="let friend of friends">
  <a class="btn btn-primary" (click)="getUserChatTo(friend)">{{friend.username}}</a>
</div>


<!--chat form-->
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#chatForm" role="button" aria-expanded="false"
     aria-controls="chatForm">Chat</a>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="chatForm">
      <div class="content">
        <div class="chat">
          <div class="chat-header clearfix">
            <img alt="avatar" height="55px"
                 src="https://khoahoc.tv/photos/image/2014/01/02/bong-bong.jpg"
                 width="55px"/>
            <div class="chat-about">
              <div class="chat-with" id="selectedUserId" *ngIf="friend">
                {{friend.username}}
                <button type="button" id="closeChat" class="btn btn-danger" (click)="closeChat()">X</button>
              </div>
            </div>
            <i class="fa fa-star"></i>
          </div> <!-- end chat-header -->

          <div class="chat-history" id="chat-history">
            <div *ngIf="chatMessages">
              <div *ngFor="let message of chatMessages">
                <div *ngIf="message.user_sender_id == user.id">
                  <div class="clearfix">
                    <div class="chat-message-me-frame clearfix p-2">
                      <div class="d-flex flex-row">
                        <a href="#">
                          <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        </a>
                        <div class="d-flex flex-column justify-content-start ml-2" *ngIf="message">
                          <a href="#">
                            <span class="d-block font-weight-bold name">{{message.sender.username}}</span>
                          </a>
                          <span class="date text-black-50 createPost">{{message.content}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="message.user_receiver_id == user.id">
                  <div class="clearfix">
                    <div class="chat-message-friend-frame  p-2">
                      <div class="d-flex flex-row">
                        <a href="#">
                          <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        </a>
                        <div class="d-flex flex-column justify-content-start ml-2" *ngIf="message">
                          <a href="#">
                            <span class="d-block font-weight-bold name">{{message.sender.username}}</span>
                          </a>
                          <span class="date text-black-50 createPost">{{message.content}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div> <!-- end chat-history -->

          <div class="chat-message clearfix">
            <textarea id="message-to-send" name="message-to-send" placeholder="Type your message" rows="3"
                      [(ngModel)]="input"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button id="sendBtn" class="btn btn-success" (click)="sendMessage()">Send</button>

          </div> <!-- end chat-message -->

        </div> <!-- end chat -->
      </div>
    </div>
  </div>
</div>
<!--<app-scanner></app-scanner>-->
