<h1 class="text-capitalize text-primary">Create new product</h1>

<div class="container border mt-5">
  <div class="d-block w-50 m-auto">
    <form name="form" class="form-group" (ngSubmit)="f.form.valid && saveProduct()" #f="ngForm" novalidate>
      <!--  <div class="container">-->
      <div class="form-group ">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="form.title" #title ="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && title.invalid">
        <div *ngIf="title.errors?.required" class="text-danger">Title is required</div>
      </div>
      <div class="form-group ">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" [(ngModel)]="form.description" #description ="ngModel" required="required">
      </div>
      <div *ngIf="f.submitted && description.invalid">
        <div *ngIf="description.errors?.required" class="text-danger">Description is required</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
        <button type="button" routerLink="/product/list" class="btn btn-warning">Cancel</button>
        <div *ngIf="f.submitted && isCreateFailed" class="alert alert-danger" style="max-width: 300px">
          Create failed
        </div>
      </div>
      <!--  </div>-->
    </form>
  </div>
</div>
