
<form name="form" class="modal-content" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="container">
    <div class="form-group">
      <h1 class="text-primary m-auto">Sign-in</h1>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" [(ngModel)]="form.username" #username="ngModel" required="required">
    </div>
    <div *ngIf="f.submitted && username.invalid">
      <div *ngIf="username.errors?.required" class="text-danger">Username is required</div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password" #password ="ngModel" required="required" minlength="6">
    </div>
    <div *ngIf="f.submitted && password.invalid">
      <div *ngIf="password.errors?.required" class="text-danger">Password is required</div>
      <div *ngIf="password.errors?.minlength" class="text-danger">Password at least 6 characters</div>
    </div>

    <div class="check-box">
      <input type="checkbox" name="remember-me" id="remember-me" />
      <label for="remember-me"> Remember me</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Sign up</button>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" style="max-width: 300px">
        Sign-up failed
      </div>
    </div>
        <a routerLink="/register">Sign Up</a>
  </div>

</form>
